# Ignore .env files
*.env

# Ignore IDE settings
.idea/

# Ignore compiled files (optional, if applicable)
*.o
*.log
assignment_2/

*/dist
*/tmp
*/out-tsc
*/bazel-out

*/node_modules

*.vscode/*
*/.angular/cache

